*{
	margin:0;
	padding: 0;
}
body{
	font-family: '微软雅黑';
	font-size: 14px;
	color: #444;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.text-center{
  text-align: center;
}

#app {
  position:relative;
}
aside{
  border-right: solid 1px #e6e6e6;
}
.el-menu{
  border-right: none;
}
.menu{
    width: 100%;
    height: 60px;
    background: #fff;
    position: fixed;
    padding: 0 24px;
    top: 0;
    line-height: 60px;
    box-shadow: 0px 2px 9px #cdcdcd;
    z-index: 10
}
.content{
  width:1200px;
  height: 100%;
  margin: 0 auto;
  margin-top:60px;
  padding: 30px 0;
  box-sizing: border-box;
  position: relative;
}
.leftMenus{
  width: 200px;
  position: fixed;
  height: 100%;
  z-index: 2;
}
.contentbox{
  width: 100%;
  padding-left: 200px;
  position: absolute;
  overflow-x: hidden;
  box-sizing: border-box;
}
table{
  width: 100%;
  text-align: left;
  table-layout: fixed;
}
table thead tr{
  height: 60px;
  color: #909399;
  font-size: 14px;
  font-weight: 600;
}
table tbody tr td{
  height: 60px;
  color: #606266;
}
table tbody .btn a{
  color:#409EFF;
  font-size: 12px;
}

.btn-min{
  font-size: 14px;
  padding: 8px 16px;
  outline: none;
  border-radius: 4px;
  display: inline-block;
}
.mbtn-primary{
  color: #fff;
  border: solid 1px #409eff;
  background:  #409eff;
}
.mbtn-primary:hover{
  background: rgba(64,158,255,0.9);
}
.sbtn-primary{
  color:  #409eff;
  border: solid 1px #409eff;
  background: rgba(64,158,255,0.1);
}
.sbtn-primary:hover{
  background: #409eff;
  color: #fff
}
.cbtn-primary{
  color:  #409eff;
  border: solid 1px #409eff;
  background: rgba(64,158,255,0.1);
  border-radius: 20px;
}
.cbtn-primary:hover{
  background: #409eff;
  color: #fff
}



/*筛选条件 BEGIN*/
.filter-group-default{
  height: 36px;
  border-bottom: solid 1px #ff5001;
  margin-bottom: 40px;

}
.filter-group-default .item{
    border-radius: 2px;
    color: #444;
    outline: none;
    height: 100%;
    border:none;
    border-bottom: solid 1px #ff5001;
    width: 100px;
}
.filter-group-default .item.active{
    border:solid 1px #ff5001;
    color: #fff;
    background: #ff5001;
    border-radius:0;
}

/*筛选条件 END*/


/*分页 BEGIN*/
.pagination{
  display: block;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
/*分页 END*/

